<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <title><%= title %></title>
    <link rel='icon' href='images/ico/ico.png' type='mage/x-ico' />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/nec.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
    <!-- 顶部导航 -->
    <header class="header">
        <div class="header-content">
            <div class="header-logo f-fl">
                <h1 class="logo">
                    <a href="/">JasonJiang</a>
                </h1>
            </div>
            <div class="header-collaspe">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </div>
            <div class="header-collgroup">
                <div class="header-nav f-fl">
                    <ul class="ul-reset">
                        <li>
                            <a href="/">主页</a>
                        </li>
                        <li>
                            <a href="/chat">聊天室</a>
                        </li>
                        <li>
                            <a href="/aboutMe">关于</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>
    <!-- 顶部导航 end -->





    <div class="g-bg f-oh">
        <div class="m-me">
            <div class="me-block">
                <!-- <h1>关于我的一些事</h1> -->
                <div class="title">
                    <canvas class="canvas" id="canvas"></canvas>
                    <input class="input-box ui-input" id="canvas-input" type="text">
                </div>

                <article class="post">
                    <div class="post-block">
                        <header>
                            <h1>关于这东西的乱七八糟一些事</h1>
                        </header>
                    </div>
                </article>

                <article class="post">
                    <div class="post-block">
                        <header>
                            <h2>组成</h2>
                        </header>
                        <div class="desc">
                            MEAN框架配合了一些乱七八糟的想法，于是就有了我这项目
                        </div>
                    </div>
                </article>

                <article class="post">
                    <div class="post-block">
                        <header>
                            <h1>关于我的一些小介绍</h1>
                            <p>（我懒，复制粘贴以前简历上的东西。有兴趣的小伙伴可以加我QQ526446847或者群55989211一起讨论问题）</p>
                        </header>
                    </div>
                </article>

                <article class="post">
                    <div class="post-block">
                        <header>
                            <h2>自我评价</h2>
                        </header>
                        <div class="desc">
                            <p>熟练使用jq kendo angular bs h5 css3、编写jquery/原生JS插件；</p>
                            <p>熟练SVN环境、微信H5、PC、移动开发，熟悉git、sass、express、gulp。</p>
                            <p>有单人配合后端完成大型商城站经验、APP嵌套浏览器开发经验。</p>
                            <p>有用cordova、angular、html5进行移动端web APP开发。</p>
                            <p>项目中使用自己的原生JS库。致力于研究公司的前端框架，已经手数十个项目。目前在着手使用mean构建网络聊天室（已有local版本），以及基于cocos引擎游戏的研究。</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <!-- 页脚区域 -->
    <footer class="footer">
        <div class="footer-content">Jason</div>
        <div class="clearfix"></div>
    </footer>
    <!-- 页脚区域 end -->


    <script src="js/jquery-1.8.0.min.js"></script>
    <script src="js/canvas.js"></script>
    <script src="js/main.js"></script>
    <script>
    console.log(window.location.href);
    </script>
</body>
</html>