<article class="post" data-ng-controller="ArticlesController">
    <div class="post-block">
        <a href="/#!/" class="back">返回</a>
        <header>
            <h1>发布新文章</h1>
        </header>
        <form data-ng-submit="create()" novalidate class="articleForm">
            <div>
                <label for="title">标题</label>
                <div>
                    <input type="text" data-ng-model="title"id="title" placeholder="请输入标题" required class="input"></div>
            </div>
            <div>
                <label for="content">内容</label>
                <div>
                    <textarea data-ng-model="content"id="content" cols="30" rows="10" placeholder="请输入内容"></textarea>
                </div>
            </div>
            <div class="f-tar">
                <input type="submit" value="保存" class="u-btn u-btn-c4"></div>
            <div data-ng-show="error"> <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</article>