<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel='icon' href='images/ico/ico.png' type='mage/x-ico' />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/nec.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
    <!-- 顶部导航 -->
    <header class="header">
        <div class="header-content">
            <div class="header-logo f-fl">
                <h1 class="logo">
                    <a href="/">JasonJiang</a>
                </h1>
            </div>
            <div class="header-collaspe">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </div>
            <div class="header-collgroup">
                <div class="header-nav f-fl">
                    <ul class="ul-reset">
                        <li>
                            <a href="/">主页</a>
                        </li>
                        <li>
                            <a href="/aboutMe">关于我</a>
                        </li>
                        <li>
                            <a href="/chat">聊天室</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>
    <!-- 顶部导航 end -->

    <div class="g-bg f-oh">
        <!-- 主要内容 -->
        <div class="articles f-fl">
            <article class="post">
                <div class="post-block">
                    <header>
                        <h1 class="title">
                            <a href="/2015/10/30/前端集成解决方案实践（一）/">前端集成解决方案实践（一）gulp的基本使用</a>
                        </h1>
                        <time datetime="Fri, 30 Oct 2015 01:11:41 GMT" class="post-time">
                            <a href="/2015/10/30/前端集成解决方案实践（一）/">2015-10-30</a>
                        </time>
                    </header>

                    <div class="post-entry">
                        <p>
                            前端集成解决方案是近一两年内炒的比较火的话题，无论是在微博上，在知乎上，以及各种微信公众号，各大技术分享会上，多多少少都会出现前端集成解决方案这样的话题。究竟什么是前端集成解决方案呢。
                            <br></p>
                        <div class="read-more">
                            <a href="/2015/10/30/前端集成解决方案实践（一）/#more">继续阅读&gt;&gt;</a>
                        </div>
                    </div>

                    <footer>
                        <div class="post-comment f-fr">
                            <a href="/2015/10/30/前端集成解决方案实践（一）/" class="ds-thread-count comment-link alignright" data-thread-key="2015/10/30/前端集成解决方案实践（一）/" data-count-type="comments">暂无评论</a>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                </div>
            </article>
        </div>
        <!-- 主要内容 end -->

        <!-- 侧边栏 -->
        <div class="sidebar f-fr">
            <div class="widget aboutme">
                <div class="aboutme-headerlogo">
                    <img src="images/public/head.png" alt=""></div>
                <div class="aboutme-name">
                    <h1>Jason jiang</h1>

                </div>
                <div class="aboutme-login">
                    <a href="/about.html">More about me</a>
                </div>
                <div class="aboutme-email">
                    <a href="mailto:526446847@qq.com">526446847@qq.com</a>
                </div>
                <div class="widget-content f-oh">
                    <div class="aboutme-mainblo f-fl">
                        <div class="aboutme-mainblo-number aboutme-follows">0</div>
                        <div class="aboutme-mainblo-title">Article</div>
                    </div>
                    <div class="aboutme-mainblo f-fl">
                        <div class="aboutme-mainblo-number aboutme-repos">0</div>
                        <div class="aboutme-mainblo-title">Online</div>
                    </div>
                    <div class="aboutme-mainblo f-fl">
                        <div class="aboutme-mainblo-number aboutme-following">28</div>
                        <div class="aboutme-mainblo-title">Total</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 侧边栏 end -->

    </div>

    <!-- 页脚区域 -->
    <footer class="footer">
        <div class="footer-content">Jason</div>
        <div class="clearfix"></div>
    </footer>
    <!-- 页脚区域 end -->



    <script src="js/jquery-1.8.0.min.js"></script>
    <script src="js/main.js"></script>
    <script>
    console.log(window.location.href);
    </script>
</body>
</html>